* {
    font-family: "JetBrains Mono", monospace;
    font-weight: 700;
}

body {
    overflow-x: hidden;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    color: #fff;
    background: #000;
    background-image: radial-gradient(circle at center,rgba(0, 115, 255, 1) 0%, rgba(0, 0, 0, 1) 100%);
    background-repeat: no-repeat;
    background-position: center center;
    min-height: 100vh;
    margin: 0;
}

.modal {
    width: fit-content;
    max-width: 600px;
    height: max-content;
    z-index: 1;
    border: 1.6px solid #ffffff7f;
    background-color: #3a382178;
    backdrop-filter: blur(10px);
    padding: 21px 26px;
    border-radius: 35px;
    padding-top: 8px;
    margin-top: 50px;
    box-shadow: 0px 0px 5px 1px #ffffff;
}

.modal h1 {
    font-size: 50px;
    text-shadow: 0px 0px 5px #ffffff;
}

.modal p {
    font-size: 20px;
    text-shadow: 0px 0px 2px #ffffff;
}

.navbar {
    top: 10px;
    width: max-content;
    height: max-content;
    z-index: 1;
    border: 0.6px solid #ffffff7f;
    background-color: #3a382178;
    backdrop-filter: blur(10px);
    padding: 21px 26px;
    border-radius: 35px;
    padding-top: 8px;
    padding-bottom: 15px;
    transition: all 0.3s;
    box-shadow: 0px 0px 5px #ffffff;
}

.navbar button {
    color: #fff;
    background: #00000000;
    padding: 7.5px 15px;
    margin-top: 10px;
    font-size: 20px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 2px #fff;
    transition: all 0.3s;
}

.navbar button:hover {
    color: #000000;
    background: #fff;
    padding: 7.5px 15px;
    border: 2px solid #fff;
    border-radius: 20px;
    box-shadow: 0 0 20px #fff;
    cursor: pointer;
}

.current {
    color: #000;
    background: #ddd;
    border: 2px solid #ddd;
    transition: all 0.3s;
}

.top-title {
    margin: 0;
    margin-top: 15px;
    background-image: linear-gradient(to top, #0073ff , #fff);
    color: transparent;
    background-clip: text;
    font-size: 60px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background-color: transparent;
    border: 0px;
    border-radius: 0px;
}

.card-block {
    background-color: #3a382178;
    backdrop-filter: blur(5px);
    margin-top: 40px;
    width: 700px;
    border-radius: 35px;
    border: 5px solid #fef400;
    box-shadow: 0 0 15px #fef400;
}

.card-title {
    margin: 0;
    text-align: left;
    margin-left: 10px;
    font-size: 50px;
    color: #fef400;
    display: inline-block;
    vertical-align: middle;
}

.card-text {
    margin: 0;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    color: #ddd;
    font-size: 18px;
    text-align: left;
}

.card-button {
    background-color: #466e7a78;
	backdrop-filter: blur(5px);
    box-shadow: 0 0 15px #ddd;
    padding: 4px;
    border: 3px solid #ddd;
    border-radius: 75px;
    color: #ddd;
    font-size: 25px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.card-button:hover {
    background-color: #ddd;
    color: #466e7a78;
}

.status-indicator {
    width: 14px;
    height: 14px;
    border-radius: 50%;
    background-color: #dd0;
    animation: pulse 1s infinite;
    box-shadow: 0 0 6px #dd0;
    transition: background-color 0.3s, box-shadow 0.3s;
}

@keyframes pulse {
    0% { opacity: 1; }
    50% { opacity: 0.4; }
    100% { opacity: 1; }
}

.status-ok {
    background-color: limegreen;
    box-shadow: 0 0 6px limegreen;
    animation: none;
}

.status-error {
    background-color: red;
    box-shadow: 0 0 6px red;
    animation: none;
}
.code {
    border-radius: 5px;
    padding: 10px;
    background-color: #1e1e1e;
}

.isveryfun {
    width: 88px;
    height: 31px;
    image-rendering: pixelated;
}